# .dockerignore Archivos ques se van a excluir del build

#git
.git
.gitignore
.gitattributes

#node
node_modules
npm-debug.log
yarn-error.log
.pnpm-lock.yaml

#build output
.next
out

#IDE y editor
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

#environment
.env
.env.local
.env.*.local

#testing
coverage
.nyc_output

#docker
Dockerfile
docker-compose.yml
.dockerignore

#CI/CD
.github
.gitlab-ci.yml
.travis.yml

#otros
README.md
docs/
ppt/
*.md
