NEXT_PUBLIC_SUPABASE_URL=https://csxgnabxblkqkgpxcpyw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNzeGduYWJ4YmxrcWtncHhjcHl3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQwNDIwMjksImV4cCI6MjA4OTYxODAyOX0.YTCvlWr2lPhCOYL6LqVyuAYrK93CVp5kx---bm1VLdo
NEXT_PUBLIC_APP_NAME=Portal Consejos Escolares
NEXT_PUBLIC_SITE_URL=https://tu-dominio-del-portal-consejos
NEXT_PUBLIC_AUTH_ALLOWED_DOMAIN=@slepcolchagua.cl
